@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");

@font-face {
  font-family: "D-DIN-Bold";
  src: url("../../Fonts/D-DIN.otf") format("openType");
  font-weight: 500;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.launches {
  max-width: 100vw;
  background: #000;
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0 auto;
}

.launches h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.container {
  margin: 0 30px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.launch {
  padding: 3rem 1rem;
  position: relative;
  padding-top: 2rem;
  margin: 30px;
}

.mission_name {
  position: relative;
  font-size: 30px;
}

.mission_name::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 0;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.mission_name:hover::after {
  height: 1px;
  width: 100%;
}

.details {
  margin: 20px 0;
  font-size: 20px;
}

.launch p span {
  color: #a7a9ac;
  font-weight: 600;
  margin-right: 5px;
}

/* .launch p {
  line-height: 300px;
} */

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  position: relative;
  border: 1px solid #fff;
  font: 14px/50px "D-DIN-Bold", Arial, Verdana, sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  height: 100%;
  width: 100%;
  transition: all 0.3s linear;
  transform: translateY(100%);
}

.btn:hover::before {
  transform: translateY(0);
  z-index: -1;
}

.btn:hover span {
  color: #000;
}

.video {
  max-width: 530px;
  height: 100%;
}

@media only screen and (max-width: 1600px) {
  .video {
    max-width: 420px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0;
  }

  .launch {
    margin: 0;
  }

  .video {
    max-width: 350px;
    height: 80%;
  }

  .launchDetails p {
    line-height: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .details {
    font-size: 18px;
  }

  .video {
    max-width: 320px;
    height: 60%;
  }
}